<div class="navbar-inner">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="<%- t('core', 'NAVBAR:TOGGLE') %>">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand fa fa-taxi" href="#"></a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#"><%- t('core', 'NAVBAR:DASHBOARD') %></a>
      <li data-online data-privilege="EVENTS:VIEW" data-module><a href="#events"><%- t('core', 'NAVBAR:EVENTS') %></a>
      <li data-online data-privilege="TRANSPORT_ORDERS:*" data-module><a href="#transportOrders"><%- t('core', 'NAVBAR:TRANSPORT_ORDERS') %></a>
      <li data-online data-privilege="USERS:VIEW" data-module><a href="#users"><%- t('core', 'NAVBAR:USERS') %></a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown navbar-account-dropdown">
        <a href="#account" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user fa-lg navbar-account-status"></i>
          <%- user.getLabel() %>
          <b class="caret"></b> </a>
        <ul class="dropdown-menu">
          <li data-online data-loggedin><a href="#users/<%- user.data._id %>"><%- t('core', 'NAVBAR:MY_ACCOUNT') %></a>
          <li class="divider">
          <li class="dropdown-header"><%- t('core', 'NAVBAR:UI_LOCALE') %>
          <li><a class="navbar-account-locale" href="#" data-locale="pl"><%- t('core', 'NAVBAR:LOCALE_PL') %></a>
          <li><a class="navbar-account-locale" href="#" data-locale="en"><%- t('core', 'NAVBAR:LOCALE_US') %></a>
          <li class="divider">
          <li data-loggedin=0><a class="navbar-account-logIn" href="#login"><%- t('core', 'NAVBAR:LOG_IN') %></a>
          <li data-loggedin><a class="navbar-account-logOut" href="/logout"><%- t('core', 'NAVBAR:LOG_OUT') %></a>
        </ul>
      </li>
    </ul>
  </div>
</div>
