<div class="list tp-list-table">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th class="is-min"><%- t('transportOrders', 'PROPERTY:rid') %></th>
        <th><%- t('transportOrders', 'PROPERTY:kind') %></th>
        <th><%- t('transportOrders', 'PROPERTY:owner') %></th>
        <th><%- t('transportOrders', 'PROPERTY:userDate') %></th>
        <th><%- t('transportOrders', 'PROPERTY:userTime') %></th>
        <th><%- t('transportOrders', 'PROPERTY:quantity') %></th>
        <th><%- t('transportOrders', 'PROPERTY:unit') %></th>
        <th><%- t('transportOrders', 'PROPERTY:fromAddress') %></th>
        <th><%- t('transportOrders', 'PROPERTY:toAddress') %></th>
        <th><%- t('transportOrders', 'PROPERTY:symbol') %></th>
        <th><%- t('transportOrders', 'PROPERTY:driverDate') %></th>
        <th><%- t('transportOrders', 'PROPERTY:driverTime') %></th>
        <th><%- t('transportOrders', 'PROPERTY:driver') %></th>
        <th><%- t('transportOrders', 'PROPERTY:km') %></th>
        <th><%- t('transportOrders', 'PROPERTY:hours') %></th>
        <th><%- t('transportOrders', 'PROPERTY:price') %></th>
        <th><%- t('transportOrders', 'PROPERTY:dispatcher') %></th>
        <th class="actions"><%- t('core', 'LIST:COLUMN:actions') %></th>
      </tr>
      </thead>
      <tbody>
        <% if (!rows.length) { %>
        <tr>
          <td colspan="18"><%- t('core', 'LIST:NO_DATA') %></td>
        </tr>
        <% } %>
        <% rows.forEach(function(row) { %>
        <tr class="list-item <%- row.className ? row.className : '' %> <%- row.changed.row ? 'is-changed' : '' %>" data-id="<%- row._id %>">
          <td class="is-number"><%- row.rid %></td>
          <td><%- t('transportOrders', 'kind:' + row.kind) %></td>
          <td>
            <i class="tp-confirm-indicator fa fa-<%- row.ownerConfirmed ? 'check' : 'times' %> <%- row.changed.ownerConfirmed ? 'is-changed' : '' %>"></i>
            <span class="<%- row.changed.owner || row.changed.tel ? 'is-changed' : '' %>"><%- row.owner %></span>
          </td>
          <td class="is-min <%- row.changed.userDate ? 'is-changed' : '' %>"><%- row.userDate %></td>
          <td class="is-min <%- row.changed.userDate ? 'is-changed' : '' %>"><%- row.userTime %></td>
          <td class="is-min is-number <%- row.changed.quantity ? 'is-changed' : '' %>"><%- row.quantity %></td>
          <td class="is-min <%- row.changed.unit ? 'is-changed' : '' %>"><%- row.unit %></td>
          <td class="<%- row.changed.fromAddress ? 'is-changed' : '' %>"><%- row.fromAddress %></td>
          <td class="<%- row.changed.toAddress ? 'is-changed' : '' %>"><%- row.toAddress %></td>
          <td class="<%- row.changed.symbol ? 'is-changed' : '' %>"><%- row.symbol %></td>
          <td class="is-min <%- row.changed.driverDate ? 'is-changed' : '' %>"><%- row.driverDate %></td>
          <td class="is-min <%- row.changed.driverDate ? 'is-changed' : '' %>"><%- row.driverTime %></td>
          <td>
            <i class="tp-confirm-indicator fa fa-<%- row.driverConfirmed ? 'check' : 'times' %> <%- row.changed.driverConfirmed ? 'is-changed' : '' %>"></i>
            <span class="<%- row.changed.driver ? 'is-changed' : '' %>"><%- row.driver %></span>
          </td>
          <td class="is-min is-number <%- row.changed.km ? 'is-changed' : '' %>"><%- row.km %></td>
          <td class="is-min is-number <%- row.changed.hours ? 'is-changed' : '' %>"><%- row.hours %></td>
          <td class="is-min is-number <%- row.changed.price ? 'is-changed' : '' %>"><%- row.price %></td>
          <td>
            <i class="tp-confirm-indicator fa fa-<%- row.dispatcherConfirmed ? 'check' : 'times' %> <%- row.changed.dispatcherConfirmed ? 'is-changed' : '' %>"></i>
            <span class="<%- row.changed.dispatcher ? 'is-changed' : '' %>"><%- row.dispatcher %></span>
          </td>
          <td class="actions">
            <% actions(row).forEach(function(action) { %>
            <a href="<%- action.href %>" class="btn btn-<%- action.type || 'default' %> action-<%- action.id %>" title="<%= action.label %>"><i class="fa fa-<%- action.icon %>"></i></a>
            <% }) %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="pagination-container"></div>
</div>
