<div class="panel panel-default">
  <%- include _formPanelHeading.ejs %>
  <div class="panel-body">
    <div class="form-group">
      <label for="<%- idPrefix %>-userDate" class="control-label is-required"><%- t('orders', 'userDate:peopleTransport') %></label>
      <div class="form-group-datetime">
        <input id="<%- idPrefix %>-userDate" class="form-control" type="date" name="items[<%- itemIndex %>].userDate" required>
        <input id="<%- idPrefix %>-userTime" class="form-control" type="time" name="items[<%- itemIndex %>].userTime" required>
      </div>
    </div>
    <div class="form-group">
      <label for="<%- idPrefix %>-quantity" class="control-label is-required orders-form-quantity"><%- t('orders', 'quantity:peopleTransport') %></label>
      <input id="<%- idPrefix %>-quantity" class="form-control orders-form-quantity" type="number" name="items[<%- itemIndex %>].quantity" required step="1" min="1">
      <input id="<%- idPrefix %>-unit" type="hidden" name="items[<%- itemIndex %>].unit" value="person">
    </div>
    <div class="row">
      <div class="col-lg-8 form-group">
        <label for="<%- idPrefix %>-passengers" class="control-label"><%- t('orders', 'data:passengers') %></label>
        <textarea id="<%- idPrefix %>-passengers" class="form-control" name="items[<%- itemIndex %>].data.passengers" rows="2"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 form-group">
        <label for="<%- idPrefix %>-fromAddress" class="control-label is-required"><%- t('orders', 'fromAddress:peopleTransport') %></label>
        <textarea id="<%- idPrefix %>-fromAddress" class="form-control" name="items[<%- itemIndex %>].fromAddress" rows="3" required></textarea>
      </div>
      <div class="col-lg-4 form-group">
        <label for="<%- idPrefix %>-toAddress" class="control-label is-required"><%- t('orders', 'toAddress:peopleTransport') %></label>
        <textarea id="<%- idPrefix %>-toAddress" class="form-control" name="items[<%- itemIndex %>].toAddress" rows="3" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 form-group">
        <label for="<%- idPrefix %>-symbol" class="control-label"><%- t('orders', 'PROPERTY:symbol') %></label>
        <input id="<%- idPrefix %>-symbol" class="form-control" type="text" name="items[<%- itemIndex %>].symbol">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 form-group">
        <label for="<%- idPrefix %>-notes" class="control-label"><%- t('orders', 'PROPERTY:notes') %></label>
        <textarea id="<%- idPrefix %>-notes" class="form-control" name="items[<%- itemIndex %>].notes" rows="4"></textarea>
      </div>
    </div>
  </div>
</div>
