<div class="panel panel-primary users-details">
  <div class="panel-heading">
    <%- t('users', 'PANEL:TITLE:details') %>
  </div>
  <div class="panel-details">
    <div class="props first">
      <div class="prop">
        <div class="prop-name"><%- t('users', 'PROPERTY:name') %></div>
        <div class="prop-value"><%= model.firstName || '' %> <%= model.lastName || '' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('users', 'PROPERTY:symbol') %></div>
        <div class="prop-value"><%= model.symbol || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('users', 'PROPERTY:email') %></div>
        <div class="prop-value"><%= model.email || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('users', 'PROPERTY:tel') %></div>
        <div class="prop-value"><%- model.tel || '-' %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('users', 'PROPERTY:login') %></div>
        <div class="prop-value"><%= model.login %></div>
      </div>
      <div class="prop">
        <div class="prop-name"><%- t('users', 'PROPERTY:privileges') %></div>
        <div class="prop-value">
          <% model.privileges.forEach(function(privilege) { %>
          <span class="label label-<%- /VIEW/.test(privilege) ? 'info' : 'warning' %>"><%- t('users', 'PRIVILEGE:' + privilege) %></span>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
