<form class="well filter-form">
  <div class="form-group">
    <label for="<%- id('searchName') %>"><%- t('PROPERTY:lastName') %></label>
    <input id="<%- id('searchName') %>" class="form-control" name="searchName" type="text">
  </div>
  <div class="form-group">
    <label for="<%- id('symbol') %>"><%- t('PROPERTY:symbol') %></label>
    <input id="<%- id('symbol') %>" name="symbol" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions">
    <%- renderButton() %>
  </div>
</form>
