<form class="well filter-form">
  <div class="form-group">
    <label for="<%- idPrefix %>-lastName"><%- t('users', 'PROPERTY:lastName') %></label>
    <input id="<%- idPrefix %>-lastName" class="form-control" name="lastName" type="text">
  </div>
  <div class="form-group">
    <label for="<%- idPrefix %>-symbol"><%- t('users', 'PROPERTY:symbol') %></label>
    <input id="<%- idPrefix %>-symbol" class="form-control" name="symbol" type="text">
  </div>
  <%- renderLimit() %>
  <div class="form-group filter-actions no-label">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%= t('users', 'filter:submit') %></span></button>
  </div>
</form>
