<form class="users-form" method="post" action="<%- formAction %>" autocomplete="off">
  <input type="hidden" name="_method" value="<%- formMethod %>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%- panelTitleText %></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-firstName" class="control-label"><%- t('users', 'PROPERTY:firstName') %></label>
          <input id="<%- idPrefix %>-firstName" class="form-control" type="text" name="firstName" autofocus maxlength="50">
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-lastName" class="control-label"><%- t('users', 'PROPERTY:lastName') %></label>
          <input id="<%- idPrefix %>-lastName" class="form-control" type="text" name="lastName" maxlength="50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-email" class="control-label"><%- t('users', 'PROPERTY:email') %></label>
          <input id="<%- idPrefix %>-email" class="form-control" type="email" name="email" maxlength="100">
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-tel" class="control-label"><%- t('users', 'PROPERTY:tel') %></label>
          <input id="<%- idPrefix %>-tel" class="form-control" type="tel" name="tel" maxlength="20">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-symbol" class="control-label"><%- t('users', 'PROPERTY:symbol') %></label>
          <input id="<%- idPrefix %>-symbol" class="form-control" type="text" name="symbol" pattern="^([a-zA-Z]{2}[0-9]{2})?[a-zA-Z]{2}[0-9]{2}$">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-login" class="control-label is-required"><%- t('users', 'PROPERTY:login') %></label>
          <input id="<%- idPrefix %>-login" class="form-control" type="text" name="login" required maxlength="50">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-password" class="control-label"><%- t('users', 'PROPERTY:password') %></label>
          <input id="<%- idPrefix %>-password" class="form-control" type="password" name="password">
        </div>
        <div class="col-md-3 form-group">
          <label for="<%- idPrefix %>-password2" class="control-label"><%- t('users', 'PROPERTY:password2') %></label>
          <input id="<%- idPrefix %>-password2" class="form-control" type="password">
        </div>
      </div>
      <div class="form-group">
        <label for="<%- idPrefix %>-privileges" class="control-label"><%- t('users', 'PROPERTY:privileges') %></label>
        <div class="input-group">
          <input id="<%- idPrefix %>-privileges" type="text" name="privileges">
          <span class="input-group-btn">
            <button id="<%- idPrefix %>-copyPrivileges" class="btn btn-default" type="button"><i class="fa fa-copy"></i></button>
          </span>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"><%- formActionText %></button>
    </div>
  </div>
</form>
