<div class="panel panel-<%- model.status === 'open' ? 'warning' : 'success' %> orders-details">
  <div class="panel-heading">
    <%= model.subject %>
  </div>
  <div class="panel-details">
    <div class="row">
      <div class="col-md-6">
        <div class="props first">
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:owner') %></div>
            <div class="prop-value"><%- model.owner %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:tel') %></div>
            <div class="prop-value"><%= model.tel || '-' %></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="props">
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:createdAt') %></div>
            <div class="prop-value"><%= model.createdAt %></div>
          </div>
          <div class="prop">
            <div class="prop-name"><%- t('orders', 'PROPERTY:creator') %></div>
            <div class="prop-value"><%- model.creator %></div>
          </div>
        </div>
      </div>
    </div>
    <% if (model.description) { %>
    <pre><%= model.description %></pre>
    <% } %>
  </div>
</div>
