<div class="form-group">
  <label for="<%- idPrefix %>-costs" class="control-label"><%- t('transportOrders', 'PROPERTY:costs') %></label>
  <textarea id="<%- idPrefix %>-costs" class="form-control" name="costs" rows="3"></textarea>
</div>
<div class="form-group">
  <label for="<%- idPrefix %>-notes" class="control-label"><%- t('transportOrders', 'PROPERTY:notes') %></label>
  <textarea id="<%- idPrefix %>-notes" class="form-control" name="notes" rows="4"></textarea>
</div>
