<div class="form-group">
  <label for="<%- idPrefix %>-userDate" class="control-label is-required"><%- t('transportOrders', 'userDate:airportDeparture') %></label>
  <div class="form-group-datetime">
    <input id="<%- idPrefix %>-userDate" class="form-control" type="date" name="userDate" required placeholder="<%- t('core', 'placeholder:date') %>">
    <input id="<%- idPrefix %>-userTime" class="form-control" type="time" name="userTime" required placeholder="<%- t('core', 'placeholder:time') %>">
  </div>
</div>
<div class="form-group">
  <label for="<%- idPrefix %>-quantity" class="control-label is-required tp-form-quantity"><%- t('transportOrders', 'quantity:airportDeparture') %></label>
  <input id="<%- idPrefix %>-quantity" class="form-control tp-form-quantity" type="number" name="quantity" required step="1" min="1" value="1">
  <input id="<%- idPrefix %>-unit" type="hidden" name="unit" value="person">
</div>
<div class="form-group">
  <label for="<%- idPrefix %>-cargo" class="control-label"><%- t('transportOrders', 'cargo:airportDeparture') %></label>
  <textarea id="<%- idPrefix %>-cargo" class="form-control" name="cargo" rows="2"></textarea>
</div>
<div class="form-group">
  <label for="<%- idPrefix %>-flightNo" class="control-label is-required"><%- t('transportOrders', 'PROPERTY:flightNo') %></label>
  <input id="<%- idPrefix %>-flightNo" class="form-control" type="text" name="flightNo" required>
</div>
<div class="form-group has-required-select2">
  <label for="<%- idPrefix %>-airport" class="control-label is-required"><%- t('transportOrders', 'PROPERTY:airport') %></label>
  <input id="<%- idPrefix %>-airport" type="text" name="airport" required>
</div>
<div class="row">
  <div class="col-md-6 form-group">
    <label for="<%- idPrefix %>-fromAddress" class="control-label is-required"><%- t('transportOrders', 'fromAddress:airportDeparture') %></label>
    <textarea id="<%- idPrefix %>-fromAddress" class="form-control" name="fromAddress" rows="3" required></textarea>
  </div>
  <div class="col-md-6 form-group">
    <label for="<%- idPrefix %>-toAddress" class="control-label is-required"><%- t('transportOrders', 'toAddress:airportDeparture') %></label>
    <textarea id="<%- idPrefix %>-toAddress" class="form-control" name="toAddress" rows="3" required></textarea>
  </div>
</div>
<% include _costsAndNotes.ejs %>
