<form class="well filter-form reports-filter">
  <% include _statusFilter.ejs %>
  <% include _dateFilter.ejs %>
  <div class="form-group reports-filter-symbol">
    <label for="<%- idPrefix %>-symbol"><%- t('transportOrders', 'PROPERTY:symbol') %></label>
    <input id="<%- idPrefix %>-symbol" name="symbol[]" type="text">
  </div>
  <% include _cashFilter.ejs %>
  <div class="form-group filter-actions no-label">
    <button type="submit" class="btn btn-default"><i class="fa fa-filter"></i><span><%- t('reports', 'filter:submit') %></span></button>
  </div>
  <p id="<%- idPrefix %>-summary" class="reports-filter-summary"></p>
</form>
