<table class="table table-condensed table-bordered reports-table">
  <thead>
    <tr>
      <th><%- t('core', '#') %></th>
      <th><%- t('transportOrders', 'PROPERTY:symbol') %>/<%- t('transportOrders', 'PROPERTY:owner') %></th>
      <th class="is-min"><%- t('reports', 'orderCount') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:km') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:hours') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:price') %></th>
    </tr>
  </thead>
  <% if (collection.length > 1) { %>
  <tfoot>
    <tr class="reports-table-summary">
      <td colspan="2"></td>
      <td class="is-number"><%- summary.orders %></td>
      <td class="is-number is-min"><%- summary.km %></td>
      <td class="is-number is-min"><%- summary.hours %></td>
      <td class="is-number is-min"><%- summary.price %></td>
    </tr>
  </tfoot>
  <% } %>
  <% if (!collection.length) { %>
  <tbody>
    <tr>
      <td colspan="6"><%- t('core', 'LIST:NO_DATA') %></td>
    </tr>
  </tbody>
  <% } else { %>
  <% collection.forEach(function(symbol, i) { %>
  <tbody>
    <tr class="reports-table-rowGroup">
      <td class="is-number is-min"><%- i + 1 %>.</td>
      <td><%= symbol.symbol %></td>
      <td class="is-number is-min"><%- symbol.orders %></td>
      <td class="is-number is-min"><%- symbol.km %></td>
      <td class="is-number is-min"><%- symbol.hours %></td>
      <td class="is-number is-min"><%- symbol.price %></td>
    </tr>
    <% symbol.owners.forEach(function(owner, j) { %>
    <tr>
      <td class="is-number is-min"><%- i + 1 %>.<%- j + 1 %>.</td>
      <td><%= owner.owner %></td>
      <td class="is-number is-min"><%- owner.orders %></td>
      <td class="is-number is-min"><%- owner.km %></td>
      <td class="is-number is-min"><%- owner.hours %></td>
      <td class="is-number is-min"><%- owner.price %></td>
    </tr>
    <% }) %>
  </tbody>
  <% }) %>
  <% } %>
</table>
