<table class="table table-condensed table-bordered reports-table">
  <thead>
    <tr>
      <th class="is-min"><%- t('core', '#') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:rid') %></th>
      <th><%- t('transportOrders', 'PROPERTY:kind') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:userDate') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:userTime') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:quantity') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:unit') %></th>
      <th><%- t('transportOrders', 'PROPERTY:fromAddress') %></th>
      <th><%- t('transportOrders', 'PROPERTY:toAddress') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:km') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:hours') %></th>
      <th class="is-min"><%- t('transportOrders', 'PROPERTY:price') %></th>
    </tr>
  </thead>
  <% if (collection.length > 1) { %>
  <tfoot>
    <tr class="reports-table-summary">
      <td colspan="9"></td>
      <td class="is-number"><%- km %></td>
      <td class="is-number"><%- hours %></td>
      <td class="is-number"><%- price %></td>
    </tr>
  </tfoot>
  <% } %>
  <tbody>
    <% if (!collection.length) { %>
    <tr>
      <td colspan="12"><%- t('core', 'LIST:NO_DATA') %></td>
    </tr>
    <% } else { %>
    <% collection.forEach(function(item, i) { %>
    <tr>
      <td class="is-number is-min"><%- i + 1 %>.</td>
      <td class="is-number is-min"><%- item.rid %></td>
      <td><%- item.kind %></td>
      <td class="is-min"><%- item.userDate %></td>
      <td class="is-min"><%- item.userTime %></td>
      <td class="is-number is-min"><%- item.quantity %></td>
      <td class="is-min"><%= item.unit %></td>
      <td><%= item.fromAddress %></td>
      <td><%= item.toAddress %></td>
      <td class="is-number is-min"><%- item.km %></td>
      <td class="is-number is-min"><%- item.hours %></td>
      <td class="is-number is-min"><%- item.price %></td>
    </tr>
    <% }) %>
    <% } %>
  </tbody>
</table>
